[submodule "Source/colyseus-unreal"]
	path = Source/colyseus-unreal
	url = https://github.com/charisma-ai/colyseus-unreal
[submodule "Source/RuntimeAudioImporter"]
	path = Source/RuntimeAudioImporter
	url = https://github.com/charisma-ai/RuntimeAudioImporter
